---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
	<section class="bg-zinc-800 pb-[50px] -mt-[65px] pt-[100px] h-[5000px] ">
		<div class="h-screen p-10">
			<h1 class="font-bold text-white text-[70px]">
				Hallo! Vianismee here, <br/> gua lagi belajar <br/> Web Development <span class="border-[4px] border-green-300 px-4 py-1 rounded-2xl text-[60px] bg-green-500/40">Astro 🚀</span>
			</h1>
		</div>
	</section>
</MainLayout>