---

---
<div class="flex justify-center items-center ">
    <div class="h-[300px] relative -skew-x-3 skew-y-3">
        <div class="bg-zinc-800 h-48 aspect-[5/3] rounded-2xl box-shadow border-[1px] border-[#00d4ff] relative overflow-hidden pt-10">
            <div class="h-10 w-[325px] absolute bg-zinc-100/5 border-[0.5px] border-zinc-500 text-center flex justify-center items-center -translate-y-[42px]">
                <h1 class="font-bold text-white">
                    BIOGRAPHY
                </h1>
            </div>
            <div class="static w-full h-full grid grid-cols-2">
                <div class="col-start-1 p-4">
                    <div class="w-full h-full bg-[url('https://ik.imagekit.io/viantastory/Astro%20Project/Portfolio/FOTO_PROFILE-removebg-preview.png?updatedAt=1715519148802')] bg-cover rounded-lg"></div>
                    <div class="w-full h-full bg-[url('https://ik.imagekit.io/viantastory/Astro%20Project/Portfolio/logo.png?updatedAt=1715519247351')] bg-cover rounded-lg -translate-x-6"></div>
                </div>
                <div class="col-start-2 p-4">
                    <article class="font-bold text-2xl -translate-x-2">
                        <h1 class="gradient">VIANISMEE</h1>
                        <p class="text-zinc-400 text-sm mt-2 font-medium">Product Development</p>
                        <p class="text-zinc-400 text-sm mt-1 font-medium"></p>
                    </article>
                </div>
            </div>
        </div>
        <div class="absolute py-2 px-4 bg-zinc-400/10 backdrop-blur-sm rounded-xl font-bold text-white z-50 -translate-x-2 -translate-y-4 shadow-md">
            <h1>Adobe Illustrator</h1>
        </div>
        <div class="absolute py-2 px-4 bg-zinc-400/10 backdrop-blur-sm rounded-xl font-bold text-white z-50 translate-x-[250px] -translate-y-[220px] shadow-md">
            <h1>Figma</h1>
        </div>
        <div class="absolute py-2 px-4 bg-zinc-400/10 backdrop-blur-sm rounded-xl font-bold text-white z-50 -translate-x-[45px] -translate-y-[150px] shadow-md">
            <h1>Quality Control</h1>
        </div>
    </div> 
</div>
