---

---
<div class="flex justify-center items-center">
    <div class="h-[300px]">
        <div class="bg-zinc-800 h-48 aspect-[5/3] rounded-2xl box-shadow border-[1px] border-[#00d4ff] relative overflow-hidden pt-10">
            <div class="h-10 w-[325px] absolute bg-zinc-100/5 border-[0.5px] border-zinc-500 text-center flex justify-center items-center -translate-y-[42px]">
                <h1 class="font-bold text-white">
                    BIOGRAPHY
                </h1>
            </div>
            <div class="static w-full h-full grid grid-cols-2">
                <div class="col-start-1 p-4">
                    <div class="w-full h-full bg-slate-500 rounded-lg"></div>
                </div>
                <div class="col-start-2 p-4">
                    <article class="font-bold text-2xl -translate-x-2">
                        <h1 class="gradient">VIANISMEE</h1>
                        <p class="text-zinc-400 text-sm mt-2 font-medium">R&D Analyst</p>
                        <p class="text-zinc-400 text-sm mt-1 font-medium">Age 21</p>
                    </article>
                </div>
            </div>
        </div>
    </div> 
</div>
