---
import CardSwiper from "./CardSwiper.astro";
---

<div class="grid grid-cols-2 pt-5 rounded-[25px] border-white gap-4">
  <div class="col-start-1">
    <CardSwiper />
  </div>
  <div class="col-start-2 font-roboto">
    <h1 class="text-3xl font-bold mb-4">Let's Connect with Comment</h1>
    <form action="" class="gap-2">
      <input
        type="email"
        name="Email"
        id="inputEmal"
        placeholder="Your Email Address..."
        class="form-input py-3 px-3 mr-2 rounded-md w-[300px] bg-zinc-800 mb-4"
      />
      <input
        type="text"
        name="Username"
        id="inputUser"
        placeholder="Username"
        class="form-input py-3 px-3 rounded-md w-[300px] bg-zinc-800 mb-4"
      />
      <input
        type="text"
        name="Instagram"
        id="inputIG"
        placeholder="Username Instagram... without @"
        class="form-input py-3 px-3 mr-2 rounded-md w-[300px] bg-zinc-800 mb-4"
      />
      <input
        type="text"
        name="X"
        id="inputX"
        placeholder="Username X... without @"
        class="form-input py-3 px-3 rounded-md w-[300px] bg-zinc-800 mb-4"
      />
      <div class="grid grid-row-2 bg-zinc-800 w-[611px] rounded-xl">
        <textarea
          name=""
          id="inputComment"
          placeholder="Add your comment..."
          class="w-[300px] h-[130px] rounded-md bg-zinc-800 mb-3 py-3 px-3 resize-none focus:outline-none"
        ></textarea>
        <div class="flex justify-end py-3 px-3">
          <button id="SendComment"
            ><div
              class="p-2 bg-sky-700/20 border border-sky-400 w-[80px] rounded-md"
            >
              Send
            </div></button
          >
        </div>
      </div>
    </form>
  </div>
</div>
<script src="../data/insert.supabase.js"></script>
