---

---

<div
  class="text-white inline-flex justify-center items-center px-3 py-2.5 gap-[22.4px] border-[2px] border-blue-500 rounded-md bg-neutral-900 shadow-md"
>
  <p class="font-consolas lg:text-xl text-base">> chevianbs@gmail.com</p>
  <button id="copyButton">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-copy"
      ><rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect><path
        d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"></path></svg
    >
  </button>
</div>
<script>
  document.getElementById("copyButton").addEventListener("click", function () {
    var email = "chevianbs@gmail.com";
    // Use the Clipboard API
    navigator.clipboard.writeText("chevianbs@gmail.com").then(
      function () {
        // Success feedback to the user
        alert(email + " Copied");
      },
      function (err) {
        // Error feedback to the user
        console.error("Could not copy text: ", err);
      }
    );
  });
</script>
