---
let year = new Date().getFullYear();
---

<div class="flex justify-center mb-[30px] font-roboto text-md">
  <h1>
    <span class="font-bold">Copyright ©{year}</span> - Made With <a
      href="https://astro.build/"
      class="underline text-sky-300"
    >
      Astro</a
    > by Vianisme
  </h1>
</div>
