---
const {pathname} = Astro.url
const lists = [
    {name:"Profile", url:"/"},
    {name:"Project", url:"/project"},
    {name:"✨Blog", url:"/blog"},
]

const baseClass = "hover:border-b-2 border-blue-700"
---
<div class="sticky top-4 flex justify-center">
    <nav class="flex place-items-center bg-zinc-600/15 backdrop-blur-sm text-white justify-between px-10 py-5 rounded-full hover:shadow-lg transition-shadow duration-500">
        <ul class="flex basis-4/5 gap-4 text-white ">
            {
                lists.map((item) => (
                    <li class:list={[baseClass, {"border-b-2":item.url == pathname }]} >
                        <a href={item.url}>{item.name} </a>
                    </li>
                ))
            }  
        </ul>
    </nav>
</div>