---
import { Icon } from 'astro-icon/components';

const {pathname} = Astro.url
const lists = [
    {name:"Profile", url:"/"},
    {name: "Portfolio", url:"/portfolio"},
    {name:"Project", url:"/project"},
    {name:"✨Blog", url:"/blog"},
]

const baseClass = "hover:border-b-[4px] border-blue-700 tex-white"
---
<div class="sticky top-4 flex justify-center font-roboto text-2xl">
    <nav class="lg:h-[85px] h-[50px] px-3 py-3 inline-flex gap-[40px] place-items-center bg-zinc-600/15 backdrop-blur-sm text-white justify-between lg:px-[25px] lg:py-[20px] rounded-full hover:shadow-lg transition-shadow duration-500">
        <div>
            <div>
                <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M37.611 0H27.415L24.2029 5.57882H34.3974L37.611 0Z" fill="#399DFF"/>
                    <path d="M27.6129 17.4762L29.4891 14.218L32.7012 8.63922H22.5247L22.5157 8.62418L20.7956 5.63687L17.5835 0.0580444H7.38905L10.6011 5.63687L12.3302 8.63922L15.5422 14.218L17.4184 17.4762L17.438 17.5094H27.5949L27.6129 17.4762Z" fill="white"/>
                    <path d="M39.4016 34.4888L44.9672 37.7109V27.4878L39.4016 24.2672V34.4888Z" fill="#399DFF"/>
                    <path d="M39.4344 10.6544L36.44 12.388L30.876 15.6086L27.6264 17.4898L27.5949 17.5094V27.6933L27.6264 27.7114L30.876 29.5925L36.44 32.8131V22.6096L36.455 22.6006L39.4344 20.8759L45 17.6553V7.43378L39.4344 10.6544Z" fill="white"/>
                    <path d="M7.3562 45.0865H17.5507L20.7627 39.5062H10.5682L7.3562 45.0865Z" fill="#399DFF"/>
                    <path d="M17.4184 27.7249L15.5422 30.9831L12.3302 36.5619H22.5067L22.5157 36.577L24.2358 39.5643L27.4478 45.1446H37.6438L34.4303 39.5643L32.7012 36.5619L29.4891 30.9831L27.6129 27.7249L27.5949 27.6933H17.438L17.4184 27.7249Z" fill="white"/>
                    <path d="M5.56406 10.5963L1.52588e-05 7.37573V17.5973L5.56406 20.8179V10.5963Z" fill="#399DFF"/>
                    <path d="M17.4049 17.4898L14.1553 15.6086L8.5913 12.388V22.5915L8.57629 22.6005L5.5969 24.3252L0.0328522 27.5458V37.7689L5.5969 34.5468L8.5913 32.8131L14.1553 29.5925L17.4049 27.7113L17.4379 27.6933V17.5093L17.4049 17.4898Z" fill="white"/>
                    </svg>
            </div>
        </div>
        <ul class="lg:flex gap-[21px] text-white/40 hidden align-center">
            {
                lists.map((item) => (
                    <li class:list={[baseClass, {"border-b-[4px] text-white":item.url == pathname }]} >
                        <a href={item.url}>{item.name} </a>
                    </li>
                ))
            }  
        </ul>
        <button class="lg:py-[10px] lg:px-[20px] py-[5px] px-[10px] rounded-full justify-center items-center inline-flex gap-3 hover:shadow-xl bg-gradient-to-bl from-blue-700 to-sky-500">
            <div class="text-white font-roboto text-sm lg:text-2xl font-medium">Contact Me</div>
            <Icon name="mdi:email-outline"  class="lg:h-[30px] lg:w-[30px] h-[20px] w-[20px]" />
        </button>
    </nav>
</div>
