---
import { Icon } from 'astro-icon/components';

const {pathname} = Astro.url
const lists = [
    {name:"Profile", url:"/"},
    {name: "Portfolio", url:"/portfolio"},
    {name:"Project", url:"/project"},
    {name:"✨Blog", url:"/blog"},
]

const baseClass = "hover:border-b-2 border-blue-700 tex-white"
---
<div class="sticky top-4 flex justify-center font-roboto text-2xl">
    <nav class="lg:h-[85px] h-[50px] px-3 py-3 inline-flex gap-[40px] place-items-center bg-zinc-600/15 backdrop-blur-sm text-white justify-between lg:px-[25px] lg:py-[20px] rounded-full hover:shadow-lg transition-shadow duration-500">
        <div>
            <img src="/public/LOGO.svg" alt="" class="lg:h-[45px] h-[30px]">
        </div>
        <ul class="lg:flex gap-[21px] text-white/40 hidden ">
            {
                lists.map((item) => (
                    <li class:list={[baseClass, {"border-b-2 text-white":item.url == pathname }]} >
                        <a href={item.url}>{item.name} </a>
                    </li>
                ))
            }  
        </ul>
        <button class="lg:py-[10px] lg:px-[20px] py-[5px] px-[10px] rounded-full justify-center items-center inline-flex gap-3 hover:shadow-xl bg-gradient-to-bl from-blue-700 to-sky-500">
            <div class="text-white font-roboto text-sm lg:text-2xl font-medium">Contact Me</div>
            <Icon name="mdi:email-outline"  class="lg:h-[30px] lg:w-[30px] h-[20px] w-[20px]" />
        </button>
    </nav>
</div>